@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
    --font-display: "Cormorant Garamond", serif;
  
    --color-background: #F7F3EE;
    --color-surface: #FFFCF8;
    --color-foreground: #262220;
    --color-muted: #756D68;
  
    --color-primary: #7A3E48;
    --color-accent: #D8B4B8;
  
    --color-cinematic: #191716;

    --color-input: #F1ECE6;
    --color-border: #DDD6CF;
    --color-placeholder: #9A928C;
    --color-primary-hover: #6B3540;

    --color-error: #fb2c36
  }
  
  html,
  body,
  #root {
    min-height: 100%;
    background-color: var(--color-background);
  }
  
  body {
    margin: 0;
    font-family: var(--font-sans);
    overscroll-behavior: none;
  }